<h1>Edit <%= @task.name %></h1>

<%= form_for @task do |form| %>
  <%= render "error_messages", target: @task %>
  <div>
    <%= form.text_field :name, placeholder: "Name" %>
  </div>
  <div>
    <%= form.text_area :description, placeholder: "Description" %>
  </div>
  <div>
    <%= form.submit "Update Task" %>
  </div>
<% end %>
